{% extends 'base.html.twig' %}

{% block title %}Faire un virement{% endblock %}

{% block body %}
    <div class="container-small">
        <h1 class="">Ajouter un virement</h1>

        {{ form(form) }}
    </div>
{% endblock %}
