{% extends 'base.html.twig' %}

{% block title %}Y | Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="">Modifier l'utilisateur</h1>
        <div class="row">
            <div class="col-md-6">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
