{% extends 'base.html.twig' %}

{% block title %}Y | Mon compte{% endblock %}

{% block body %}

<div class="page-compte container-small">
    <h1 class="fw-bold">Mes comptes</h1>

    {% if comptes is not empty %}
        {% for compte in comptes %}
            <div class="card my-5">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title fw-bold">{{ compte.typeDeCompte }}</h5>
                        <p class="{% if compte.montant > 0 %}green{% else %}red{% endif %}">{{ compte.montant | number_format(2, ',', ' ') }} €</p>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">{{ compte.numero }}</h6>

                </div>
            </div>
        {% endfor %}
    {% else %}

    <h2>Vous n'avez pas de comptes chez nous 🥲</h2>

    {% endif %}

</div>
{% endblock %}
