{% extends 'base.html.twig' %}

{% block title %}Y | Rembourser un pret{% endblock %}

{% block body %}
    <div class="container-small">
        <h1 class="">Rembourser un pret</h1>
        {{ form(form) }}
    </div>
{% endblock %}
